services:

  dask-scheduler:
    restart: always
    image: ghcr.io/mlinsightlab/mlinsightlab-dask:latest
    command: dask-scheduler
    volumes:
      - notebooks:/notebooks
    deploy:
      restart_policy:
        condition: any
    networks:
      - jupyter_network

  dask-worker:
    restart: always
    image: ghcr.io/mlinsightlab/mlinsightlab-dask:latest
    depends_on:
      - dask-scheduler
    command: /bin/sh -c "echo 'Sleeping to allow for other services to start' && sleep 30 && dask-worker ${DASK_SCHEDULER_ADDRESS}"
    volumes:
      - notebooks:/notebooks
    deploy:
      replicas: 4
      restart_policy:
        condition: any
    networks:
      - jupyter_network

  mlflow:
    restart: always
    image: ghcr.io/mlinsightlab/mlinsightlab-mlflow:latest
    depends_on:
      - postgres-mlflow
    environment:
      - MLFLOW_BACKEND_STORE_URI=${MLFLOW_BACKEND_STORE_URI}
      - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI}
      - MLFLOW_TRACKING_ARTIFACT_STORE=${MLFLOW_TRACKING_ARTIFACT_STORE}
      - AWS_ACCESS_KEY_ID=${S3_ROOT_USER_BACKEND}
      - AWS_SECRET_ACCESS_KEY=${S3_ROOT_PASSWORD_BACKEND}
      - MLFLOW_S3_ENDPOINT_URL=${S3_URL_BACKEND}
    command: /bin/sh -c "echo 'Sleeping to allow for other services to start' && sleep 30 && mlflow db upgrade ${MLFLOW_BACKEND_STORE_URI} || true && mlflow server --artifacts-destination ${MLFLOW_TRACKING_ARTIFACT_STORE} --host 0.0.0.0 --port 5000 --uvicorn-opts '-t ${MLFLOW_TIMEOUT_SECONDS}'"
    deploy:
      restart_policy:
        condition: any
    networks:
      - mlflow_network
      - model_network
      - apihub_network
    
  postgres-jupyter:
    restart: always
    image: postgres:alpine
    volumes:
      - pgjupyter:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${JUPYTER_POSTGRES_USER}
      - POSTGRES_PASSWORD=${JUPYTER_POSTGRES_PASSWORD}
      - POSTGRES_DB=${JUPYTER_POSTGRES_DB}
    deploy:
      restart_policy:
        condition: any
    networks:
      - jupyter_network

  postgres-mlflow:
    restart: always
    image: postgres:alpine
    volumes:
      - pgmlflow:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${MLFLOW_POSTGRES_USER}
      - POSTGRES_PASSWORD=${MLFLOW_POSTGRES_PASSWORD}
      - POSTGRES_DB=${MLFLOW_POSTGRES_DB}
    deploy:
      restart_policy:
        condition: any
    networks:
      - mlflow_network

  postgres-apihub:
    restart: always
    image: postgres:alpine
    volumes:
      - pgapihub:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${API_HUB_POSTGRES_USER}
      - POSTGRES_PASSWORD=${API_HUB_POSTGRES_PASSWORD}
      - POSTGRES_DB=${API_HUB_POSTGRES_DB}
    deploy:
      restart_policy:
        condition: any
    networks:
      - apihub_network

  s3-backend:
    restart: always
    image: rustfs/rustfs
    volumes:
      - s3_backend:/data
    environment:
      - RUSTFS_ACCESS_KEY=${S3_ROOT_USER_BACKEND}
      - RUSTFS_SECRET_KEY=${S3_ROOT_PASSWORD_BACKEND}
    deploy:
      restart_policy:
        condition: any
    networks:
      - mlflow_network
      - apihub_network
      - s3_backend_network

  s3-init-backend:
    image: amazon/aws-cli:latest
    depends_on:
      - s3-backend
    environment:
      - AWS_ACCESS_KEY_ID=${S3_ROOT_USER_BACKEND}
      - AWS_SECRET_ACCESS_KEY=${S3_ROOT_PASSWORD_BACKEND}
      - AWS_DEFAULT_REGION=us-east-1
      - S3_URL=${S3_URL_BACKEND}
    entrypoint: >
      /bin/sh -c '
        echo "Sleeping to allow for other services to start" &&
        sleep 10 &&

        aws --endpoint-url=${S3_URL_BACKEND} s3api create-bucket --bucket mlflow || true
        aws --endpoint-url=${S3_URL_BACKEND} s3api create-bucket --bucket predictions || true
        aws --endpoint-url=${S3_URL_BACKEND} s3api create-bucket --bucket model-cache || true
        aws --endpoint-url=${S3_URL_BACKEND} s3api create-bucket --bucket variables || true
      '
    networks:
      - s3_backend_network


  s3-external:
    restart: always
    image: rustfs/rustfs
    volumes:
      - s3_external:/data
    environment:
      - RUSTFS_ACCESS_KEY=${S3_ROOT_USER_EXTERNAL}
      - RUSTFS_SECRET_KEY=${S3_ROOT_PASSWORD_EXTERNAL}
    deploy:
      restart_policy:
        condition: any
    networks:
      - s3_external_network
      - model_network

  mlil-ui:
    restart: always
    image: ghcr.io/mlinsightlab/mlinsightlab-ui:latest
    depends_on:
      - mlflow
      - jupyter
    environment:
      - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI}
      - INACTIVITY_TIMEOUT=${INACTIVITY_TIMEOUT}
      - API_URL=${API_URL}
    command: /bin/sh -c "echo 'Sleeping to allow for other services to start' && sleep 30 && uvicorn main:app --host 0.0.0.0 --port 8000"
    deploy:
      restart_policy:
        condition: any
    networks:
      - apihub_network
