# Dask environment variables
DASK_SCHEDULER_ADDRESS=tcp://dask-scheduler:8786
DASK_WORKER_REPLICAS=4

# Jupyter environment variables
API_URL=http://api-hub:8000
JUPYTER_POSTGRES_USER=jupyterhub
JUPYTER_POSTGRES_PASSWORD=jupyterhub
JUPYTER_POSTGRES_DB=jupyterhub
JUPYTER_POSTGRES_HOST=postgres-jupyter:5432

# MLflow environment variables
MLFLOW_POSTGRES_USER=mlflow_postgres
MLFLOW_POSTGRES_PASSWORD=mlflow_postgres
MLFLOW_POSTGRES_DB=mlflow_postgres
MLFLOW_BACKEND_STORE_URI=postgresql://${MLFLOW_POSTGRES_USER}:${MLFLOW_POSTGRES_PASSWORD}@postgres-mlflow:5432/${MLFLOW_POSTGRES_DB}
MLFLOW_TRACKING_ARTIFACT_STORE=s3://mlflow
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_TIMEOUT_SECONDS=600


# Backend Minio environment variables
MINIO_ROOT_USER_BACKEND=minioadmin
MINIO_ROOT_PASSWORD_BACKEND=minioadmin
MINIO_URL_BACKEND=http://minio-backend:9000

# External Minio environment variables
MINIO_ROOT_USER_EXTERNAL=minioadmin
MINIO_ROOT_PASSWORD_EXTERNAL=minioadmin
MINIO_URL_EXTERNAL=http://minio-external:9000

# API hub environment variables
API_HUB_ADMIN_USERNAME=admin
API_HUB_ADMIN_KEY=mlil-admin-key
API_HUB_ADMIN_PASSWORD=password
API_HUB_POSTGRES_USER=apihub_postgres
API_HUB_POSTGRES_PASSWORD=apihub_postgres
API_HUB_POSTGRES_DB=apihub_postgres
API_HUB_POSTGRES_HOST=postgres-apihub:5432
API_HUB_MANAGE_STORAGE=true

# Ollama environment variables
OLLAMA_HOST=http://ollama:11434

# UI environment variables
INACTIVITY_TIMEOUT=1800
