# Dask environment variables
DASK_SCHEDULER_ADDRESS=tcp://dask-scheduler:8786
DASK_WORKER_REPLICAS=4

# Jupyter environment variables
API_URL=http://api-hub:4488

# MLflow environment variables
MLFLOW_BACKEND_STORE_URI=postgresql://mlflow_postgres:mlflow_postgres@postgres-mlflow:5432/mlflow_postgres
MLFLOW_TRACKING_ARTIFACT_STORE=s3://mlflow
MLFLOW_TRACKING_URI=http://mlflow:2244
MLFLOW_TIMEOUT_SECONDS=600

# MLflow postgres environment variables
MLFLOW_POSTGRES_USER=mlflow_postgres
MLFLOW_POSTGRES_PASSWORD=mlflow_postgres
MLFLOW_POSTGRES_DB=mlflow_postgres

# MLflow minio environment variables
MINIO_ROOT_USER=mlflow_minio
MINIO_ROOT_PASSWORD=mlflow_minio

# API hub environment variables
API_HUB_SERVED_MODEL_CACHE_DIR=/model_cache
API_HUB_ADMIN_USERNAME=admin
API_HUB_ADMIN_KEY=mlil-admin-key
API_HUB_ADMIN_PASSWORD=password
API_HUB_DATA_DIRECTORY=/data
API_HUB_VARIABLE_STORE_DIRECTORY=/variable_store
API_HUB_PREDICTIONS_DIR=/predictions

# UI environment variables
INACTIVITY_TIMEOUT=1800
