<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Insight Lab</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static/logo.png" type="image/png"> <!-- Favicon -->
</head>
<body>
    <div class="login-container">
        <img src="/static/logo.png" alt="Logo" class="logo">
        <h2>ML Insight Lab Login</h2>
        <form id="loginForm">
            <input type="text" id="username" name="username" placeholder="Username" required><br>
            <input type="password" id="password" name="password" placeholder="Password" required><br>
            <input type="submit" value="Login">
        </form>
        <p id="error-message" class="warning-message"></p>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent the default form submission

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Login for session management
            const formData = new URLSearchParams();
            formData.append('username', username);
            formData.append('password', password);

            try {
                // Send form to /login for session-based login
                const sessionResponse = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: formData,
                });

                // Send form to /api/token for token-based login
                const tokenResponse = await fetch('/api/token', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: formData,
                });

                if (tokenResponse.ok) {
                    const data = await tokenResponse.json();
                    // Store the token in local storage or session storage
                    localStorage.setItem('username', username);
                    localStorage.setItem('token', data.access_token);
                } else {
                    document.getElementById('error-message').innerText = 'Invalid token credentials';
                }

                if (sessionResponse.redirected) {
                    window.location.href = sessionResponse.url;  // Redirect to home if login succeeds
                } else {
                    document.getElementById('error-message').innerText = 'Invalid session credentials';
                }
            } catch (error) {
                document.getElementById('error-message').innerText = 'An error occurred. Please try again.';
            }
        });
    </script>
</body>
</html>