# Jupyter packages
ipython[all]
jupyterhub
jupyterlab
ipywidgets
nbconvert
jupyter

# Wheel
wheel

# MLFlow
mlflow[extras]

# Dask
dask[complete]

# Machine learning packages
scikit-learn
#transformers
#torchvision
#tensorflow
#tf-keras
#torch
