# Jupyter packages
ipython[all]
jupyterhub
jupyterlab
ipywidgets
nbconvert
jupyter

# Wheel
wheel

# MLFlow
mlflow[extras]

# Dask
dask[complete]

# Machine learning packages
scikit-learn
transformers
bitsandbytes
torchvision
accelerate
tensorflow
tf-keras
torch

# MLIL Python SDK
mlinsightlab

# JupyterLab Extensions
jupyterlab_iframe
lckr_jupyterlab_variableinspector
jupyter-resource-usage
