.search-container {
    margin-bottom: 30px;
    text-align: left;
    width: 100%;
}

.search-container input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #dddddd;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.search-container input:focus {
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

th.sort-asc::after, th.sort-desc::after {
    position: absolute;
    right: 10px;
}

th.sort-asc::after {
    content: '▲';
}

th.sort-desc::after {
    content: '▼';
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.action-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #c9302c;
}

.reset-button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    background-color: #c9302c;
}

.reset-button:hover {
    background-color: #a5282a;
}

.no-models, #error-message {
    color: #d9534f;
    font-size: 18px;
    margin: 20px 0;
}

#success-message {
    color: #357ABD;
    font-size: 18px;
    margin-top: 20px;
}

@media (max-width: 600px) {

    h2 {
        font-size: 28px;
        text-align: left;
    }

    table, th, td {
        font-size: 14px;
    }

    .search-container input {
        padding: 10px;
    }

    .reset-button {
        font-size: 14px;
    }
}