input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    max-width: 400px;
    text-align: left;
}

.hidden-value {
    margin-right: 10px;
}

.toggle-visibility {
    cursor: pointer;
    margin-right: 10px;
}

.copy-button {
    margin-left: 10px;
}